

body {
	
   text-align:center; background-color: #0A8754
	
}

img {
	width: 180;
	padding: 1px;
	border: 1px solid white;
	border-radius: 25px;
	height: 250px;
}

.red {
	color: 	brown;
	
}
